:root {
    --mc-zinc-50: #fafafa;
    --mc-zinc-100: #f4f4f5;
    --mc-zinc-200: #e4e4e7;
    --mc-zinc-300: #d4d4d8;
    --mc-zinc-400: #a1a1aa;
    --mc-zinc-500: #71717a;
    --mc-zinc-600: #52525b;
    --mc-zinc-700: #5a5b63;
    --mc-zinc-800: #27272a;
    --mc-zinc-900: #32333b;
    --mc-zinc-950: #09090b;
    --mc-status-purple: #ff53d6;
    --mc-status-red: #fc3e39;
    --mc-status-orange: #ff8400;
    --mc-status-yellow: #f4e300;
    --mc-status-green: #94cc19;
    --mc-status-none: #cccccc;
}

#app {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.dashboard-wrapper {
    width: 100vw;
    min-height: 100vh;
    background-color: var(--mc-zinc-900);
    color: var(--mc-zinc-100);
    display: grid;
    grid-template-columns: 200px 1fr;
}

.content {
    display: flex;
    flex-direction: column;
    padding: 0;
}

.el-menu-item {
    height: 30px !important;
    line-height: 30px !important;
    font-size: 12px !important;
    padding: 0 10px !important;
    color: #979aa8 !important;

    &:hover {
        color: #ffffff;
    }
}

.el-dialog {
    background-color: #32333b !important;
    border-radius: 8px !important;
    box-shadow: 0 0 12px rgba(255, 255, 255, 0.3) !important;

    &__title {
        color: #fff !important;
        font-weight: bold;
        text-transform: uppercase;
        font-size: 14px !important;
    }
}

.el-tabs {
    border: none;
}

.el-tabs--border-card {
    border: none !important;

    &>.el-tabs__header {
        background-color: #32333b !important;

        .el-tabs__item {
            margin: 0 !important;
            border-bottom: none !important;

            &.is-active {
                color:  #32333b !important;
                background-color: #fff !important;
                border-radius: 5px 5px 0 0;
                border: 1px solid #ddd !important;
                border-bottom: none !important;
            }
        }
    }
}

.el-table .el-table__cell {
    padding: 5px 0 !important;
}

.el-table .cell {
    font-size: 12px !important;
}

.el-card {
    font-weight: bold;

    &__header {
        padding: 10px 22px !important;
    }
}
